h2 {
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
  border-bottom: 2px solid rgba(34,36,38,.1);
}

h2:before {
}

h2:after {
}

h3 {
  font-weight: normal;
}

li > p {
  margin-bottom: 0em;
}

li {
  margin: 0.2em 0em;
}

pre {
  font-family: unset;
  background-color: #eee;
  padding: 1.5em;
  white-space: pre-wrap;
}

code {
  font-family: unset;
}

table {
  margin: 1em 0;
}

th {
  background-color: rgba(0, 0, 0, 0.05);
  font-weight: bold;
}

th, td {
  padding: 0.6em;
}

.pushable:not(body) {
  transform: none !important;
}

.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: fixed !important;
}
