h2 {
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;
  border-bottom: 2px solid rgba(34,36,38,.1);
}

h2:before {
}

h2:after {
}

h3 {
  font-weight: normal;
}

li > p {
  margin-bottom: 0em;
}

li {
  margin: 0.2em 0em;
}
